---
layout: single
---

{{ content }}


<h2>About me</h2>

<p>I am a <del>twenty</del> thirty something year old software engineer based in London. This is my blog about personal stories on both client and personal projects, with which I hope to share some of the techniques and thoughts. Right now I'm working with <a href="https://www.equalexperts.com/">Equal Experts</a> helping out with engineering and consultancy.</p>

<p>I’ve created and launched several of my own ideas. These have all been great technical exercises, and its been really rewarding to see some of the ideas on here be <a href="/blog/2010/06/04/export-svg-from-raphael-js-to-create-a-png-bitmap">taken</a> <a href="http://github.com/jspies/raphael.serialize">further</a> by the <a href="http://www.jonathanspies.com/">readers</a>.</p>

<p>One idea I’m working on is an online baby book creator, <a href="http://www.growbook.co/">Growbook</a>. It is operated by <a href="https://brushfire.design">Brushfire Design</a>, my consultancy company.</p>

<p>Another is using an SVG driven Tube Map, which can be viewed over on the <a href="http://playground.benbarnett.net/svg-tube-map/">playground</a>.</p>

<p>I find new ways of doing things fascinating and thrive from learning new skills.</p>

<p>You can reach me on <a href="https://twitter.com/benpbarnett">Twitter</a>, <a href="https://github.com/benbarnett">Github</a>, or <a href="https://cv.benbarnett.net">read my CV</a>.</p>
