---
layout: default
---

{{ content }}


<h2>About me</h2>

<p>I am a <del>twenty</del> thirty something year old web designer based in London. This is my blog about personal stories on both client and personal projects, with which I hope to share some of the techniques and thoughts. Right now I'm working with the government helping out with building progressively enhanced, accessible websites for everyone across the UK.</p>

<p>I’ve created and launched several of my own ideas.These have all been great technical exercises, and its been really rewarding to see some of the ideas on here be <a href="/blog/2010/06/04/export-svg-from-raphael-js-to-create-a-png-bitmap">taken</a> <a href="http://github.com/jspies/raphael.serialize">further</a> by the <a href="http://www.jonathanspies.com/">readers</a>. One idea I'm currently working on is an online baby book creator, <a href="http://www.growbook.co/">Growbook</a> which integrates with the brilliant <a href="http://www.lulu.com/">Lulu</a>, whom as a result have made me <a href="http://developer.lulu.com/page/APP_Gallery">their featured developer</a>.</p>

<p>Another is using an SVG driven Tube Map, which can be viewed over on the <a href="http://playground.benbarnett.net/svg-tube-map/">playground</a>.</p>

<p>I find new ways of doing things fascinating and thrive from learning new skills.</p>

<p>You can reach me on <a href="https://twitter.com/benpbarnett">Twitter</a>, <a href="https://github.com/benbarnett">Github</a>, or <a href="https://cv.benbarnett.net">read my CV</a>.</p>
